.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #140f61;
    padding: 15px 20px;
}

.navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a.active {
    color: #ffcc00; /* Gul färg eller vad du vill */
    font-weight: bold;
    border-bottom: 2px solid #ffcc00; /* Lägg till en understrykning */
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #140f61;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}